@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Telex&display=swap');

* {
    font-family: 'Anybody', cursive;
    font-family: 'Telex', sans-serif;
}

.section-1 {
    height: 100vh;
    background-image: url('../img/bg\ oren.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 42px;
    border-bottom-right-radius: 42px;
    padding-top: 100px;
}

.section-1 .img-section {
    width: 871px;
    height: 215.66px;
    margin-left: auto;
    margin-right: auto;
}

.section-1 .content-section {
    text-align: center;
}

.section-1 .content-section h1 {
    font-family: 'Anybody';
    font-size: 54px;
    font-style: italic;
    font-weight: 500;
    line-height: 127.5%;
    letter-spacing: 0.095em;
    color: #FFFFFF;
}

.section-1 .content-section p {
    width: 936px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    font-family: 'Anybody';
    font-weight: 300;
    font-size: 40px;
    line-height: 161.5%;
    color: #FFFFFF;

}

.section-1 .content-section .btn-new {
    margin-top: 50px;
    color: #FFFFFF;
    font-family: 'Telex';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.035em;

    background: rgba(196, 153, 89, 0.5);
    border: 5px solid #FFFFFF;

    padding: 17px 47px;
}

.section-2 {
    background-image: url('../img/Vector.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 50px;
}

.section-2 .container {

    background-color: #F26F27;
    border-radius: 12px;
    padding: 30px 50px;
}

.section-2 .container h1 {
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 700;
    font-size: 49px;
    line-height: 51px;
    color: #FFFFFF;
    margin: 30px 0;
}

.section-2 .card {
    border: none;
    border-radius: 40px;
    padding: 20px;
}

.section-2 .card-img-top {
    border-radius: 20px;
}

.section-2 .card .card-body {
    margin: 0;
}

.section-2 .card .card-body .card-title {
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 161.5%;
    color: #000000;
}

.section-2 .card .card-body .card-text {
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 161.5%;
    color: #000000;
    margin-bottom: 0;
}

.section-3 {
    background-image: url('../img/Vector.png'), url('../img/Group\ 46.png');
    background-repeat: no-repeat;
    background-size: cover, contain;
    background-position: center, left;
    padding-top: 50px;
}

.section-3 .title-box {
    background-color: #F26F27;
    border-radius: 8px;
    padding: 22px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.section-3 h1 {
    margin: 0;
    padding: 0;
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 700;
    font-size: 49px;
    line-height: 51px;

    color: #FFFFFF;
}

.section-3 .content {
    padding-top: 50px;
}

.section-3 .content .content-desc {
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 161.5%;
    /* or 55px */

    text-align: justify;

    color: #000000;
}

.section-3 .content .content-slogan {
    padding-top: 50px;
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 33px;
    /* identical to box height */


    color: #13213B;
}

.section-3 .content .img-content {
    padding-left: 100px;
    padding-right: 100px;
}

.section-4 {
    background-image: url('../img/Vector.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    position: relative;
}

.section-4 .container {
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 50px 60px;
    background-color: #FFFFFF;
}

.section-4 .container h1 {
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 54px;

    color: #13213B;

}

.section-4 .container p {
    width: 976px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 41px;
    line-height: 62px;

    color: #383838;
}

.section-4 .table thead th {
    background: #F16B25;
    padding: 30px 100px;
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 21px;

    color: #FFFFFF;

    text-align: center;

}

.section-4 .table tbody tr td {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.02em;

    color: #383838;

    text-align: left;

    padding: 30px;
}

.section-4 .container h4 {
    margin-top: 50px;
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 33px;
    /* identical to box height */


    color: #13213B;

}

.section-4 .container .btn-table {
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F16B25;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 18px 72px;
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 33px;

    color: #FFFFFF;
}

.section-5 {
    background-image: url('../img/Vector.png'), url('../img/Group\ 47.png');
    background-repeat: no-repeat;
    background-size: cover, 300px;

    background-position: center, bottom right;
    padding-top: 200px;
    position: relative;
}

.section-5 .container {
    position: relative;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 50px 60px;
    background-color: #FFFFFF;
}

.section-5 .container h1 {
    background-color: #F16B25;
    width: 889px;
    padding: 20px 150px;
    border-radius: 8px;

    font-family: 'Anybody';
    font-style: normal;
    font-weight: 700;
    font-size: 49px;
    line-height: 51px;

    color: #FFFFFF;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-5 .container h3 {
    margin-top: 50px;
    text-align: center;
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 33px;
    /* identical to box height */


    color: #13213B;

}

.section-5 .container table {
    margin-top: 10px;
}

.section-5 .container tbody tr td {
    padding-bottom: 30px;


}

.section-5 .container .number {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;

    color: #383838;

}

.section-5 .container .text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 119%;
    /* or 29px */


    color: #383838;

}

/* utilities */
section .btn {
    border-radius: 24px;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .section-1 .img-section {
        width: 650px;
    }
}